{% extends 'base.html.twig' %}

{% block title %}Hello GotBetController!{% endblock %}

{% block body %}
<div style="position: fixed; z-index: -99; width: 100%; height: 100%">
 <video autoplay muted loop id="myVideo">
  <source src="{{ asset('video/trailer.mp4') }}" type="video/mp4">

</video>



 </div>
    <div class="jumbotrol2">
        <h1 class="display5" >Bienvenue sur GoTBet</h1>
        <p class="lead2">Pariez sur les personnages qui vont survivre, mourir ou devenir un marcheur blanc dans la saison finale de Games of Thrones.
        La saison 8 démarre le 14 avril 2019 ! Faites vos paris avant le début du premier épisode !<br><br>
    Répondez au questionnaire en cliquant ci-dessous.</p>

        {% if app.user %}
            <p class="btn-cont">
                <a class="btn" href="{{path('questionnaire')}}">Questionnaire
                <span class='line-1'></span>
                <span class='line-2'></span>
                <span class='line-3'></span>
                <span class='line-4'></span>
                </a>
            </p>
        {% else %}
            <p class="btn-cont">
                <a class="btn" href="{{ path('app_register') }}">Inscription
                <span class='line-1'></span>
                <span class='line-2'></span>
                <span class='line-3'></span>
                <span class='line-4'></span>
                </a>

                <a class="btn" href="{{ path('app_login') }}">Connexion
                <span class='line-1'></span>
                <span class='line-2'></span>
                <span class='line-3'></span>
                <span class='line-4'></span>
                </a>
            </p>
        {% endif %}

    </div>
</div>


{% endblock %}
