{% extends 'base.html.twig' %}

{% block title %}GotBet - Questionnaire{% endblock %}

{% block body %}
    <div class="jumbotron">
        <h1 class="display-4">Questionnaire</h1>
        <p class="lead">Répondez aux questions suivantes.</p>
    </div>
    <div class="container">
    
        <div class="row">
            <div class="col">
            <div style="margin-left:20px;">
                <div class="card border-primary mb-3" style="max-width: 30rem;">
                    <div class="card-header">Personnages</div>
                        <div class="card-body">
                            <table class="table table">
                                <thead>
                                    <tr>
                                        <th scope="col">Prénom</th>
                                        <th scope="col">Nom</th>
                                        <th scope="col">Etat</th>
                                        <th scope="col">Valider</th>
                                    </tr>
                                </thead>
                               
                                        <tbody>
                                            <form action="">
                                                <tr>
                                                <td>{{ personnages[1].prenom }}</td>
                                                <td id="{{ personnages[1].id }}" class="id">{{ personnages[1].nom }}</td>
                                                <td>
                                                    <div class="form-group">
                                                        <select class="custom-select" name="statut" id="statut">
                                                            <option>Vivant</option>
                                                            <option>Mort</option>
                                                            <option>Marcheur blanc</option>
                                                        </select>
                                                    </div>
                                                </td>
                                                <td><button type="button" class="btn btn-outline-primary btn-block" id="validate">Valider</button></td>
                                                </tr>
                                            </form>
                                        </tbody>
                              
                            </table>
                        </div>
                    </div>
                </div>
            </div>

    </div>
{% endblock %}
{% block script %}

<script>
    $("#validate").click(function(){
        var id= $(".id").attr("id");
        var statut= $("#statut").val();
        $.ajax({
            type:"POST",
            url:"{{path('createReponse')}}",
            data: "id ="+id+"& statut ="+statut,
            success: function($data){
                console.log($data);
            }
        })
    });
</script>

{% endblock %}