{% extends 'base.html.twig' %}

{% block title %}GotBet - Questionnaire{% endblock %}

{% block body %}
    <div class="jumbotron">
        <h1 class="display-4">Questionnaire</h1>
        <p class="lead">Répondez aux questions suivantes.</p>
    </div>
    <div class="container">
    <div class="row">
        <div class="col">
        <div style="margin-left:20px;">
            <div class="card border-primary mb-3" style="max-width: 30rem;">
                <div class="card-header">Personnages</div>
                    <div class="card-body">
                        <table class="table table">
                            <thead>
                                <tr>
                                    <th scope="col">Prénom</th>
                                    <th scope="col">Nom</th>
                                    <th scope="col">Etat</th>
                                </tr>
                            </thead>
                            {% for perso in personnages %}
                                    <tbody>
                                        <tr>
                                        <td>{{ perso.prenom }}</td>
                                        <td>{{ perso.nom }}</td>
                                        <td>
                                            <div class="form-group">
                                                <select class="custom-select">
                                                    <option selected="1">Vivant</option>
                                                    <option value="2">Mort</option>
                                                    <option value="3">Marcheur blanc</option>
                                                </select>
                                            </div>
                                        </td>
                                        </tr>
                                    </tbody>
                            {% endfor %}
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
