@import url(//fonts.googleapis.com/css?family=Roboto+Slab:400);

.jumbotrol {

    padding: 2rem 1rem;
    margin-bottom: 2rem;
    border-radius: 0.3rem;
    color: #ffffff;
    background-color:  rgba(0,0,0,0.75);
}

.jumbotrol2 {

  padding: 2rem 1rem;
  margin-bottom: 2rem;
  border-radius: 0.3rem;
  color: #ffffff;
  background-color:  rgba(0,0,0,0);
}

#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
  }
  .display5{
    font-family:'viking';
    position: absolute; /* postulat de départ */
    top: 25%; left: 50%; /* à 50%/50% du parent référent */
    transform: translate(-50%, -50%);
  }
  .lead2{
    position: absolute; /* postulat de départ */
    top: 70%; left: 50%; /* à 50%/50% du parent référent */
    transform: translate(-50%, -50%);
  }
  .m4r{
    position: absolute; /* postulat de départ */
    top: 80%; left: 50%; /* à 50%/50% du parent référent */
    transform: translate(-50%, -50%);
  }

  .bg-primary2{
  
    color:rgba(44,62,80,0.25);

  }

  nav{
    position: absolute;
    top: 50%;
  }

  .display6{
    font-family:'viking';
    position: absolute; /* postulat de départ */
    top: 15%; left: 50%; 
    transform: translate(-50%, -50%);
  }
  .lead3{
    position: absolute; /* postulat de départ */
    top: 30%; left: 50%; 
    transform: translate(-30%, -30%);
  }
  body{
    /* Location of the image */
  background-image: url(../img/winter.jpg);
  
  /* Background image is centered vertically and horizontally at all times */
  background-position: center center;
  
  /* Background image doesn't tile */
  background-repeat: no-repeat;
  
  /* Background image is fixed in the viewport so that it doesn't move when 
     the content's height is greater than the image's height */
  background-attachment: fixed;

  background-size: cover;
  


  }
